.button-red {
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  text-align: center;
  border: none;
  text-transform: uppercase;
  padding: 6px 5px;
  text-decoration: none;
  color: #ffffff;
  background-color: $mainRed;
  border-radius: 5px;
}
