.button-red {
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  text-align: center;
  border: none;
  text-transform: uppercase;
  padding: 6px 5px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  background-color: $mainRed;
  border-radius: 5px;
  transition: all 0.25s;
  &:hover {
    color: $mainRed;
    background-color: #fff;
  }

  &--big {
    font-size: 16px;
    line-height: 25px;
    padding: 12.5px 10px;
  }
}
