.consultation {
  background: url("../img/consultation-bg.jpg") center center/cover no-repeat;
  background-color: gray;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  &__wrapper {
    @include container;
    padding: 103px 0 110px;
  }

  &__title {
    // max-width: 800px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    margin: 0;
    margin-bottom: 9px;
    padding: 0 20px;
  }

  &__text {
    margin: 0;
    margin-bottom: 32px;
    padding: 0 20px;
  }

  &__form {
    max-width: 315px;
    margin-left: 10px;
  }
}
