.main-footer {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: gray;
  &__wrapper {
    position: relative;
    height: 630px;
  }

  &__info {
    position: absolute;
    width: 460px;
    height: 270px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: $mainRed;
    padding-top: 50px;
  }

  &__address {
    margin-bottom: 38px;
  }

  &__tel {
    display: block;
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 38px;
  }

  &__social-list {
    max-width: 240px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }

  &__social-item {
    a {
      display: block;
      width: 50px;
      height: 50px;
      font-size: 0;
      border: 1px solid #ffffff;
      border-radius: 50%;
    }
  }

  &__facebook {
    background: url("../icons/facebook.svg") center center/cover no-repeat;
    background-size: 50% auto;
  }

  &__instagram {
    background: url("../icons/instagram.svg") center center/cover no-repeat;
    background-size: 50% auto;
  }

  &__pinterest {
    background: url("../icons/pinterest.svg") center center/cover no-repeat;
    background-size: 50% auto;
  }
}
